* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header {
    background-image: url("../images/beachshowcase.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 40vh 0;
    text-align: center;
    color: #926239;
}

.header-h1 {
    font-size: 50px;
    line-height: 1.2;
    font-weight: bold;
}

.p-header {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.a-header {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    line-height: 1.6;
    color: #926239;
}

.a-header:hover {
    color: #fff;
    background-color: #926239;
}

.content {
    text-align: center;
    padding: 20px;
}

.text-content {
    font-size: 17px;
    line-height: 1.6;
}

.color-approach {
    background-color: #926239;
    color: #fff;
}

.color-content {
    color: #926239;
}

.small-content {
    display: inline-block;
    width: 33%;
}


